<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/my-courses.css" />
  <title>Document</title>
</head>
<% const classes=data.classes
const schedule=data.schedule %>

<body>
  <nav class="navbar"></nav>
  <div class="page-container">


    <%if(!classes.length){%>
    <div class="empty-page">
      <h1>No hay nada para mostrar aquí. <br> No estás matriculado en ningún curso</h1>
    </div>
    <%}else{%>
    <h4>Cursos</h4>
    <h4>Horario</h4>
    <div class="courses-list">
      <%for(const i of classes){%>
      <div class="course-link"><a href="class/<%=i.id%>">
          <%=i.name%>
        </a></div>
      <%}%>
    </div>      
    <% 
      let days=['Lunes', 'Martes' , 'Miercoles' , 'Jueves' , 'Viernes' , 'Sabado' ] 
      let hours=['06:00','07:00','08:00','09:00','10:00','11:00','12:00','13:00','14:00','15:00','16:00','17:00']
    %>
      <table>
        <tbody>
          <tr>
            <th>hour</th>
             <%days.forEach(day => {%>
               <th><%=day%></th>
            <% });%>
          </tr>

         
            <% for(const hour of hours){%>
              <% if(schedule[hour]){ %>
              <tr>
                <th><%=hour%></th>
                <% for(const day of days){ %>
                  
                <td>
                  <%= schedule[hour][day] %>
                </td>
                  <%} %>


              </tr>
              <%}%> 
            <%}%>
        </tbody>
      </table>
      <% } %>
      <script>
        console.log('classes: ', "<%=classes%>");
      </script>
    </div>
</body>

</html>