<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href='/styles/post.css' />
  <script src="https://kit.fontawesome.com/f95e98d0e6.js" crossorigin="anonymous"></script>
  <!-- <style>
      .calendar-container{
        grid-row-end: span <%posts.length%>;
      } ;
    </style> -->
</head>

<body>
  <nav class="navbar">
    <a href="/admin/logout">Logout</a>
  </nav>
  <div class="page-container">
    <div class="header" id="course-header">
      <h4>
        <%= className %>
      </h4>
    </div>

    <div id="new-post">
      <div class="text-container" id="new-post-input">
        <form id="post-form" action="/post/<%=posts[0].class%> " method="post">

          <textarea style="display: none;" id="mesaage-textarea" name="message" class="autoExpand" rows="1"
            data-min-rows="1" placeholder="Di algo a tu clase" autofocus></textarea>

          <div id="editorjs"></div>
          <div id="assignment-options">
            <label>
              <input type="checkbox" id="assignment" name="assignment">
              Actividad Evaluativa
            </label>
            <label>
              Fecha de entrega
              <input type="datetime-local" name="deadline" id="assignment-deadline">
            </label>
            <input type="text" name="description" id="assignment-description" cols="30" rows="10"
              placeholder="Descripción">
          </div>
          <div class='buttons'>
            <button id="submit-btn" type="submit" class="submit-btn">
              Enviar <i class="fas fa-share fa-lg"></i>
            </button>
          </div>

        </form>
      </div>
      <button id="new-assignment-btn">nueva actividad</button>

      <!-- <div  class='text-container' id="editorjs"></div> -->
    </div>



    <div class="calendar-container">
      <div class="header" id="calendar-header">
        <b> Cronograma de actividades </b>
      </div>
      <input type="date" name="" id="calendar" class="text-container" />
    </div>
    <%if(posts[0].content !='' ){%>
      <div class="posts-container">
        <% for(var i=0; i<posts.length; i++){ %>

          <div class="post">
            <div class="text-container">
              <div class="post-owner">
                <img src="https://i.pravatar.cc/300" alt="profile" class="profile-pic" />
                <h4>
                  <%= posts[i].fullName %>
                </h4>
              </div>
              <div id="post-<%=i%> ">
                <%-posts[i].content %>
              </div>
              <div class="post-date">
                <%= posts[i].date %>
              </div>
            </div>
          </div>
          <%}%>
      </div>

      <%}else{%>
        <div class="empty-page">
          <h1>
            No hay nada para mostrar aquí. <br>:( <br>¡Haz una publicación!
          </h1>
        </div>
        <%}%>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script><!-- Image -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script><!-- Delimiter -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script><!-- List -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script><!-- Quote -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script><!-- Inline Code -->
<!-- Load Editor.js's Core -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>

<!-- Initialization -->
<script src="/scripts/editor.js"></script>
<script src="/scripts/assignment.js"></script>

</html>